<section id="home" class="section gfullscreen">
    <div id="revslider-container">
        <div id="revslider">
            <ul>
                <li data-transition="random" data-slotamount="8" data-masterspeed="400" data-thumb=<%= asset_path("homeslider/slide12.jpg", type: :image) %> data-saveperformance="on"  data-title="Welcome to DarkStar UD">
                    <img src=<%= asset_path("revslider/dummy.png" , type: :image) %> alt="slidebg1" data-lazyload=<%= asset_path("homeslider/Summer-Evening-Chicago-River-4.jpg", type: :image) %> data-kenburns="on" data-bgposition="center center" data-duration="4800" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center top" data-bgrepeat="no-repeat">
                    <div class="tp-caption rev-title rev-uppercase sft stt" data-x="center" data-hoffset="25" data-y="215" data-start="1000" data-speed="1000"><span class="yellow-color">Welcome</span> to</div>
                    
                    <div class="tp-caption rev-title rev-title-biggest customin customout" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-start="600" data-splitin="chars" data-splitout="chars" data-elementdelay="0.3" data-endelementdelay="0.1" data-endspeed="600" data-x="center" data-y="205" data-speed="1200" style="padding-top: 35px;">DarkStar UD</div>
                </li>
                <li data-transition="random" data-slotamount="8" data-masterspeed="450" data-thumb=<%= asset_path("homeslider/slide2.jpg" , type: :image) %> data-saveperformance="on"  data-title="Awesome Designs">
                    <img src=<%= asset_path("revslider/dummy.png", type: :image) %>  alt="slidebg2" data-lazyload=<%= asset_path("homeslider/slide2.jpg", type: :image) %>  data-kenburns="on" data-bgposition="center bottom" data-duration="4200" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center center" data-bgrepeat="no-repeat">
                    
                    <div class="tp-caption rev-title rev-border sft stt" data-x="center" data-y="210" data-start="1000" data-speed="1000">We Like to <span class="yellow-color">Create</span></div>

                    <div class="tp-caption rev-title rev-title-big customin customout" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-start="600" data-splitin="chars" data-splitout="chars" data-elementdelay="0.3" data-endelementdelay="0.1" data-endspeed="600" data-x="center" data-y="295" data-speed="1200">Awesome Designs</div>
                </li>
                <li data-transition="random" data-slotamount="8" data-masterspeed="450" data-thumb=<%= asset_path("homeslider/slide5.jpg" , type: :image) %> data-saveperformance="on" data-title="Creative Team">
                    <img src=<%= asset_path("revslider/dummy.png", type: :image) %>  alt="slidebg3" data-lazyload=<%= asset_path("homeslider/slide5.jpg", type: :image) %> data-kenburns="on" data-bgposition="center bottom" data-duration="5200" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center center" data-bgrepeat="no-repeat">
                    <div class="tp-caption rev-title sft stt" data-x="center" data-hoffset="-125" data-y="145" data-start="600" data-speed="1000">Couple Of</div>
                    <div class="tp-caption rev-title lightblue-color sfb stb" data-x="center" data-hoffset="125" data-y="145" data-start="600" data-speed="1000">Creative Minds</div>

                    <div class="tp-caption rev-title rev-title-big customin customout" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-splitin="chars" data-splitout="chars" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="600" data-x="center" data-hoffset="-180" data-y="206" data-start="600" data-speed="1200">Waiting to</div>

                    <div class="tp-caption rev-title rev-title-big customin customout" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-start="2600" data-splitin="chars" data-splitout="chars" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="600" data-x="center" data-hoffset="100" data-y="306" data-speed="1200">work with you</div>

                    <div class="tp-caption rev-title-big randomrotate randomrotateout" data-x="center" data-y="460" data-start="3200" data-speed="1000"><a href="#" class="btn btn-lightblue">Contact Now</a></div>
                </li>
            </ul>
        </div><!-- End revslider -->
    </div><!-- End revslider-container -->
</section><!-- End #home -->