    
<!-- Home Section -->
<%= render "sections/home"%>

<!-- Header / Menu Section -->
<%= render "sections/menu"%>

<!-- About Us Section -->
<section id="aboutus" class="section">
    <header class="container text-center">
        <h1 class="section-title">About Us</h1>
        <p class="section-desc">
            We a group of people who like the design and development. We enjoy the life and create the new things for you...
        </p>
    </header>

    <%= render "sections/team"%>
    <%= render "sections/aboutus"%>
</section>

<!-- Skills Section -->
<%= render "sections/skills"%>

<!-- Services Section -->
<%= render "sections/services"%>

<!-- Portfolio Section --> 
<%= render "sections/portfolio"%>

<!-- Testimonials Section -->
<%= render "sections/testimonials"%>

<!-- Blog Section -->
<%= render "sections/blogs"%>

<!-- Twitterfeed Section -->
<%= render "sections/twitter"%>

<!-- Contact Us Section -->
<%= render "sections/contact"%>